[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "2.3.2"
pylint = "*"
autopep8 = "*"

[dev-packages]

[requires]
python_version = "3.8"

[scripts]
test = "python3 test.py"
start = "python3 main.py"
lint = "pylint main.py pattern.py test.py"
format = "autopep8 --list-fixes"
