[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "2.3.2"

[dev-packages]

[requires]
python_version = "3.8"

[scripts]
tests = "python3 test.py"
start = "python3 main.py"